<%= form_with(model: idea, local: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h3>

      <ul>
        <% idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="form-group">
    <%= form.label :name, class: "font-weight-bold" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :content, class: "font-weight-bold" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :category_id, class: "form-weight-bold" %>
    <br>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>
<br>
  <%= hidden_field_tag 'idea[user_id]', current_user.id %>

  <div class="form-group">
    <%= form.label :picture  %>
    <br>
    <%= form.file_field :picture %>
  </div>

  <br>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
