<p id="notice"><%= notice %></p>
<!--
<p>
  <strong>User name:</strong>
  <%= @comment.user_name %>
</p>
-->
<div class="shadow-none p-3 mb-5 bg-light rounded">
<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>
<div>
<p>
  <strong>Idea:</strong>
  <%= @comment.idea_id %>
</p>

<br>
<%= link_to 'Edit', edit_comment_path(@comment), class: "btn btn-outline-primary" %> |
<%= link_to 'Back', comments_path, class: "btn btn-outline-primary" %>
